html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  text-align: center; }

img {
  width: 100%;
  height: 100%; }

.shadow {
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black; }

.container {
  width: 100%;
  padding: 15px;
  overflow: auto; }
  @media screen and (min-width: 768px) {
    .container {
      width: 90%;
      max-width: 960px;
      margin: 0 auto; }
      .container img, .container h2, .container p {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .container img:last-child, .container h2:last-child, .container p:last-child {
          margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1040px;
      margin: 0 auto; } }
